

/*===================================
=====================================
=====================================/*
/* github page.. */


            /* remove dumb page actions in urlbar */
/*
.urlbar-page-action {
  display: none;
}



/* titlebar buttons */
/*
#titlebar-buttonbox .titlebar-button .toolbarbutton-icon {
    opacity: 0.5 !important;
    margin-top: 1px;
    /* uncomment for dark buttons*/
    /*filter: invert(100%) !important;        */
}




              /* hide back/forward buttons (none or inherit) */
/*
#forward-button, #back-button {
display: none !important; 
}    
*/

