# hide titlebars
font              pango:DejaVu Sans Mono 0
default_border    pixel 1

set $bk #000000
set $bf #2c2c2e
set $bg #000000
set $bx #444444
set $bz #888888
set $fg #9f9f9f
set $hi #efef8f
set $ac #a0afa0
set $tx #040404
set $ia #8f8f8f
set $be #8faf9f
set $yw #ccdc90
set $gn #88b090
set $rd #e89393
# syntax: colorclass;border;background;text;indicator;child_border
client.focused           $bk $bk $hi
client.unfocused         $bk $bk $ia
client.focused_inactive  $bg $bg $ac
client.urgent            $rd $rd $tx

