bar {
    mode hide # auto show bar
    modifier $mda+$mdb
    font pango:bold:Monospace 10
    status_command i3status | i3sbar-x
    workspace_command exec i3sbar-ws
    colors {
            background          $bg
            statusline          $bz
            separator           $bz
            focused_workspace   $bg $bg $hi
            active_workspace    $bg $bg $bz
            inactive_workspace  $bg $bg $ac
            urgent_workspace    $rd $bg $ac
    }
}

