bar {
  mode hide # auto shows bar on modifier press
  modifier $mda+$mdb
  font pango:bold:Monospace 10
  status_command i3status | i3spy
  workspace_command i3ws
    	colors {
        	background          $bg
        	statusline          $gn
        	separator           $gn
        	focused_workspace   $gn $bg $yw
        	active_workspace    $bg $bg $be
        	inactive_workspace  $bg $bg $ac
        	urgent_workspace    $rd $bg $ac
    } } # refer to .c/i3status/config for i3status configuration

