# hide titlebars
font              pango:DejaVu Sans Mono 0
default_border    pixel 1
set $bk #000000
set $bf #2c2c2e
set $bg #000000
set $bx #444444
set $fg #9f9f9f
set $hi #efef8f
set $ac #a0afa0
set $tx #040404
set $ia #8f8f8f
set $be #8faf9f
set $yw #ccdc90
set $gn #88b090
set $rd #e89393
client.focused           $bk $bk $hi
client.unfocused         $bk $bk $ia
client.focused_inactive  $bg $bg $ac
client.urgent            $rd $rd $tx
exec --no-startup-id i3bcol
#exec --no-startup-id i3poly
include ~/.config/i3/xbar.config
# vim: ft=i3config
#font pango:DejaVu Sans Mono 12
#font pango:bold:monospace 10.5
# color had defined for zenburn styled i3
# yw;gn;rd
# ia;be
# ac;tx
# bg;fg
# syntax: colorclass;border;background;text;indicator;child_border
