# appearance ===========================
#font pango:monospace 8
#font pango:bold:DejaVu Sans Mono 8
default_border pixel 1
# HIDE TITLEBARS
font pango:DejaVu Sans Mono 0
#default_border pixel 0
# color defines for zenburn styled i3
set $bf     #2c2c2e
set $bg	  #000000
set $bx	  #444444
set $fg     #9f9f9f
set $hi     #efef8f
# ac;tx
set $ac     #a0afa0
set $tx     #040404
# ia;be
set $ia     #8f8f8f
set $be     #8faf9f
# yw;gn;rd
set $yw     #ccdc90
set $gn     #88b090
set $rd     #e89393
# Syntax: <colorclass> <border> <background> <text> <indicator> <child_border>
# set some nice colors      border     background  text
client.focused              $bg        $bg         $hi
client.unfocused            $bg        $bg         $ia
client.focused_inactive     $bg        $bg         $ac
client.urgent               $rd        $rd         $tx
# refer to .c/i3status/config for i3status configuration
bar {
	mode hide # auto shows bar on modifier press
	modifier Ctrl+$mod
	#font pango:DejaVu Sans Mono 12
	#font pango:bold:monospace 10.5
     font pango:bold:Monospace 10

 	status_command i3status

    	colors {
        	background          $bg
        	statusline          $hi
        	separator           $hi
        	focused_workspace   $yw        $bg        $yw
        	active_workspace    $bg        $bg        $be
        	inactive_workspace  $bg        $bg        $ac
        	urgent_workspace    $rd        $bg        $ac
    }
}
#status_command python /usr/share/powerline/bindings/i3/powerline-i3.py
# vim: ft=i3config
