
# appearance ===========================

#default_border pixel 1
#font pango:DejaVu Sans Mono 10


# hide bars

font pango:DejaVu Sans Mono 0
default_border pixel 1

# color defines for zenburn styled i3
# yw;gn;rd
set $bk  #000000
set $yw  #ccdc90
set $gn  #88b090
set $rd  #e89393
# bg;fg
set $bf  #2c2c2e
set $bg  #000000
set $fg  #9f9f9f
set $hi  #efef8f
# ac;tx
set $ac  #a0afa0
set $tx  #040404
# ia;be
set $ia  #8f8f8f
set $be  #8faf9f

# syntax: colorclass;border;background;text;indicator;child_border
client.focused           $bk $bk $hi
client.unfocused         $bk $bk $ia
client.focused_inactive  $bg $bg $ac
client.urgent            $rd $rd $tx


# exp ######################################3

#font pango:DejaVu Sans Mono 5
#for_window [con_mark="flx"] title_format "<span foreground=$rd>%title</span>
#for_window [con_mark="flx"] title_format "<span background=$gn>%title</span>
#for_window [con_mark="flx"] title_format "<span foreground=$gn>%title</span>
#for_window [class=".*"] title_format "%class - %title"
#for_window [class=".*"] title_format "<span background='red'>%class %title                                                                                                                                        </span>"

#for_window [con_mark="flx"] title_format "<span background='yellow'>%class %title                                                                                                                                        </span>"

# BAR ##################################################

bar {
	mode hide # auto shows bar on modifier press
	modifier Ctrl+$mod
	font pango:DejaVu Sans Mono 12
	font pango:bold:monospace 11
 	status_command i3status

    	colors {
        	background          $bg
        	statusline          $hi
        	separator           $hi
        	focused_workspace   $gn        $bg        $hi
        	active_workspace    $gn        $ac        $hi
        	inactive_workspace  $bg        $bg        $ia
        	urgent_workspace    $rd        $bg        $ac
    }
}

#font pango:monospace 8
#font pango:bold:DejaVu Sans Mono 8

# .c/i3status/config
#status_command python /usr/share/powerline/bindings/i3/powerline-i3.py

# vim: ft=i3config
