# vim: set ft=i3config 

for_window [class="preview-nvim"]   focus_on_window_activation none
for_window [class="preview-nvim"]   no_focus

##################################################
assign [instance="mpv-ws"] 	        $ws2 # for mpv-ws nnn plugin
assign [class="gimpn"] 		          $ws3
assign [class="gimp"] 		          $ws3
# == opt =========================
focus_wrapping no
focus_on_window_activation none
# == preview experiments ==========
# "tabbed"
for_window [class="tabbed"] 		    no_focus 
for_window [class="tabbed"] 		    focus_on_window_activation none
no_focus   [instance="tabbed"]
# "gl"
for_window [instance="gl"] 	      	focus_on_window_activation none
for_window [instance="gl"]      		no_focus 
no_focus   [instance="gl"]
# "preview"
for_window [class="preview"] 	    	no_focus 
for_window [instance="preview"]   	focus_on_window_activation none
for_window [class="preview"] 		focus_on_window_activation none
no_focus   [instance="preview"]
# "mpv"
for_window [class="mpv"] 		no_focus 
for_window [class="mpv"] 		focus_on_window_activation none
no_focus   [instance="mpv"]
no_focus   [class="mpv"]
# "mpv-ws"
for_window [instance="mpv-ws"] 	focus_on_window_activation none
# "nvim"
for_window [class="nvim"]          focus_on_window_activation none
##== borders ===========================
for_window [class="mpv"] 		border pixel 2
for_window [class="Gimp-2.10"] 	border pixel 2
for_window [class="gimpn"] 		border pixel 2
for_window [instance="preview"] 	border 4px
for_window [instance="preview"] 	border pixel 4
for_window [instance="tabbed"] 	border pixel 4
#== bind ==============================
#bindsym $mod+Ctrl+r [instance="tabbed"] focus


