# Grouping all the window dim commands should allow to reload window sizes when switching monitors without having the restart i3 and lose information like marks that are associated with some containers..
##
for_window [con_mark="fl-y$"] resize set 99ppt 99ppt
for_window [con_mark="fl-y$"] move position 0ppt 1ppt

for_window [con_mark="fl-x$"] resize set 99ppt 99ppt
for_window [con_mark="fl-x$"] move position 0ppt 1ppt

for_window [con_mark="fl-x$"] resize set 99ppt 99ppt
for_window [con_mark="ml"] move position 0ppt 1ppt

# GENERAL ##################################
for_window [class="mpv" instance="Picture-in-Picture"] floating enable
# general float 
for_window [class="^float$"] floating enable
for_window [class="^float$"] resize set 90ppt 40ppt
for_window [class="^float$"] move position 0ppt 60ppt
# general float 
for_window [class="^float_full$"] floating enable
for_window [class="^float_full$"] resize set 90ppt 90ppt
for_window [class="^float_full$"] move position 0ppt 0ppt
# blueberry
for_window [class="^Blueberry.py$"] floating enable 
for_window [class="^Blueberry.py$"] resize set 96ppt 96ppt
for_window [class="^Blueberry.py$"] move position 2ppt 2ppt
# Zoom
for_window [title="^zoom"] floating enable
for_window [title="^zoom"] resize set 95ppt 95ppt
for_window [title="^zoom"] move position 1ppt 1ppt
for_window [title="^Zoom - Free Account$"] floating enable
for_window [title="^Zoom - Free Account$"] resize set 95ppt 95ppt
for_window [title="^Zoom - Free Account$"] move position 1ppt 1ppt
# qutebrowser
for_window [class="^qutebrowser$" con_mark="cal"] floating enable
for_window [class="^qutebrowser$" con_mark="cal"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="cal"] move position 0ppt 1ppt
#
for_window [class="^pony$"] floating enable 
for_window [class="^pony$"] resize set 96ppt 96ppt
for_window [class="^pony$"] move position 2ppt 2ppt

for_window [class="^pomo$"] floating enable
for_window [class="^pomo$"] resize set 99ppt 99ppt
for_window [class="^pomo$"] move position 0ppt 0ppt

for_window [con_mark="cal"] floating enable
for_window [con_mark="cal"] resize set 99ppt 99ppt
for_window [con_mark="cal"] move position 0ppt 1ppt

## oo ###############################################

for_window [class="^oa$"] floating enable
for_window [class="^oa$"] resize set 99ppt 99ppt
for_window [class="^oa$"] move position 0ppt 0ppt

for_window [class="^vmj$"] floating enable
for_window [class="^vmj$"] resize set 99ppt 99ppt
for_window [class="^vmj$"] move position 0ppt 0ppt

for_window [class="^twf6$"] floating enable
for_window [class="^twf6$"] resize set 99ppt 99ppt
for_window [class="^twf6$"] move position 0ppt 0ppt

for_window [class="^twf9$"] floating enable
for_window [class="^twf9$"] resize set 100ppt 100ppt
for_window [class="^twf9$"] resize grow right 1px
for_window [class="^twf9$"] move position 0 0

for_window [class="^ooa$"] floating enable
for_window [class="^ooa$"] resize set 100ppt 100ppt
for_window [class="^ooa$"] move position 0ppt 0ppt

for_window [class="^oo$"] floating enable
for_window [class="^oo$"] resize set 100ppt 100ppt
for_window [class="^oo$"] move position 0ppt 0ppt

for_window [class="^stf-tw4$"] floating enable
for_window [class="^stf-tw4$"] resize set 98ppt 98ppt
for_window [class="^stf-tw4$"] move position 1ppt 1ppt

for_window [class="^stf-tw2$"] floating enable
for_window [class="^stf-tw2$"] resize set 98ppt 98ppt
for_window [class="^stf-tw2$"] move position 1ppt 1ppt

for_window [class="^tw3$"] floating enable 
for_window [class="^tw3$"] resize set 98ppt 96ppt
for_window [class="^tw3$"] move position 1ppt 2ppt

##################################################

for_window [class="^stf-buku1$"] floating enable
for_window [class="^stf-buku1$"] resize set 99ppt 99ppt
for_window [class="^stf-buku1$"] move position 0ppt 0ppt

for_window [class="^nnnf1$"] floating enable 
for_window [class="^nnnf1$"] resize set 15ppt 50ppt
for_window [class="^nnnf1$"] move position 0ppt 50ppt

for_window [class="^nnnf4$"] floating enable 
for_window [class="^nnnf4$"] resize set 99ppt 99ppt
for_window [class="^nnnf4$"] move position 0ppt 0ppt

for_window [class="^nnnf2$"] floating enable 
for_window [class="^nnnf2$"] resize set 100ppt 100ppt
for_window [class="^nnnf2$"] move position 0ppt 0ppt

for_window [class="^nnnf3$"] floating enable 
for_window [class="^nnnf3$"] resize set 15ppt 99ppt
for_window [class="^nnnf3$"] move position 85ppt 1ppt

for_window [class="^qutebrowser$" con_mark="a"] floating enable
for_window [class="^qutebrowser$" con_mark="a"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="a"] move position 0ppt 0ppt

for_window [class="^qutebrowser$" con_mark="b"] floating enable
for_window [class="^qutebrowser$" con_mark="b"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="b"] move position 0ppt 1ppt

for_window [class="^qutebrowser$" con_mark="d"] floating enable
for_window [class="^qutebrowser$" con_mark="d"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="d"] move position 1ppt 1ppt

for_window [class="^qutebrowser$" con_mark="cm"] floating enable
for_window [class="^qutebrowser$" con_mark="cm"] resize set 98ppt 98ppt
for_window [class="^qutebrowser$" con_mark="cm"] move position 1ppt 1ppt

for_window [con_mark="c"] floating enable
for_window [con_mark="c"] resize set 98ppt 98ppt
for_window [con_mark="c"] move position 1ppt 1ppt

for_window [class="^qutebrowser$" con_mark="qwin"] floating enable
for_window [class="^qutebrowser$" con_mark="qwin"] resize set 90ppt 90ppt
for_window [class="^qutebrowser$" con_mark="qwin"] move position 5ppt 5ppt
for_window [class="^qutebrowser$" con_mark="xx"] floating enable
for_window [class="^qutebrowser$" con_mark="xx"] resize set 90ppt 90ppt
for_window [class="^qutebrowser$" con_mark="xx"] move position 5ppt 5ppt

for_window [class="^drdf$"] floating enable 
for_window [class="^drdf$"] resize set 98ppt 98ppt
for_window [class="^drdf$"] move position 1ppt 1ppt

for_window [class="^stf-dropdown$"] floating enable 
for_window [class="^stf-dropdown$"] move position 52ppt 1ppt
for_window [class="^stf-dropdown$"] resize set 49ppt 99ppt

for_window [class="^stf-dropdown1$"] floating enable 
for_window [class="^stf-dropdown1$"] move position 1ppt 0ppt
for_window [class="^stf-dropdown1$"] resize set 48ppt 100ppt

for_window [class="^stf-dropdown2$"] floating enable 
for_window [class="^stf-dropdown2$"] move position 51ppt 1ppt
for_window [class="^stf-dropdown2$"] resize set 49ppt 99ppt

for_window [class="^stf$"] floating enable 
for_window [class="^stf$"] resize set 98ppt 98ppt
for_window [class="^stf$"] move position 1ppt 1ppt

for_window [class="^stf2$"] floating enable 
for_window [class="^stf2$"] resize set 98ppt 98ppt
for_window [class="^stf2$"] move position 1ppt 1ppt

for_window [class="^st-manf2$"] floating enable 
for_window [class="^st-manf2$"] resize set 96ppt 96ppt
for_window [class="^st-manf2$"] move position 2ppt 2ppt

for_window [con_mark="ml"] floating enable
for_window [con_mark="ml"] resize set 98ppt 98ppt
for_window [con_mark="ml"] move position 1ppt 1ppt

#	for_window [class="^neomuttf$"] floating enable
#	for_window [class="^neomuttf$"] resize set 98ppt 98ppt
#	for_window [class="^neomuttf$"] move position 1ppt 1ppt

#for_window [class="^neomuttf$"] floating enable
	#for_window [class="^neomuttf$"] resize set 98ppt 98ppt
	#for_window [class="^neomuttf$"] move position 1ppt 1ppt

#	for_window [class="^whatsclif$"] floating enable
#	for_window [class="^whatsclif$"] resize set 98ppt 98ppt
#	for_window [class="^whatsclif$"] move position 1ppt 1ppt

for_window [class="^nboatf$"] floating enable
for_window [class="^nboatf$"] resize set 98ppt 98ppt
for_window [class="^nboatf$"] move position 1ppt 1ppt

for_window [class="^nvimf3$"] floating enable
for_window [class="^nvimf3$"] resize set 99ppt 99ppt
for_window [class="^nvimf3$"] move position 0ppt 1ppt

for_window [class="^nvimf1$"] floating enable
for_window [class="^nvimf1$"] resize set 99ppt 50ppt 
for_window [class="^nvimf1$"] move position 0ppt 50ppt

for_window [class="^nvimf4$"] floating enable
for_window [class="^nvimf4$"] resize set 99ppt 99ppt
for_window [class="^nvimf4$"] move position 1ppt 0ppt

for_window [class="^nvimf$"] floating enable
for_window [class="^nvimf$"] resize set 50ppt 98ppt 
for_window [class="^nvimf$"] move position 1ppt 1ppt

for_window [class="^nvimf2$"] floating enable
for_window [class="^nvimf2$"] resize set 50ppt 98ppt 
for_window [class="^nvimf2$"] move position 50ppt 1ppt

for_window [class="^pulsef$"] floating enable 
for_window [class="^pulsef$"] resize set 80ppt 80ppt
for_window [class="^pulsef$"] move position 10ppt 10ppt

for_window [class="^musicf$"] floating enable 
for_window [class="^musicf$"] resize set 90ppt 90ppt
for_window [class="^musicf$"] move position 5ppt 5ppt

for_window [class="^filepicker$"] floating enable
for_window [class="^filepicker$"] resize set 80ppt 80ppt
for_window [class="^filepicker$"] move position 10ppt 10ppt
