# Modularising reloading of window sizes
# Useful switching monitors without having to restart i3 
# And thus maintain metadata like marks

##############################################

for_window [con_mark="flai$"] resize set 99ppt 99ppt
for_window [con_mark="flai$"] move position 0ppt 1ppt

for_window [con_mark="floo$"] resize set 99ppt 99ppt
for_window [con_mark="floo$"] move position 0ppt 1ppt

for_window [con_mark="flshx$"] resize set 99ppt 99ppt
for_window [con_mark="flshx$"] move position 0ppt 1ppt

for_window [con_mark="flshy$"] resize set 99ppt 99ppt
for_window [con_mark="flshy$"] move position 0ppt 1ppt

for_window [con_mark="flmj$"] resize set 99ppt 99ppt
for_window [con_mark="flmj$"] move position 0ppt 1ppt

for_window [con_mark="flml"] floating enable
for_window [con_mark="flml$"] resize set 99ppt 99ppt
for_window [con_mark="flml$"] move position 0ppt 1ppt

for_window [con_mark="^aufl$"] floating enable 
for_window [con_mark="^aufl$"] resize set 90ppt 90ppt
for_window [con_mark="^aufl$"] move position 5ppt 5ppt

for_window [con_mark="flds$"] resize set 99ppt 99ppt
for_window [con_mark="flds$"] move position 0ppt 1ppt

# GENERAL ##################################

for_window [class="mpv" instance="Picture-in-Picture"] floating enable

for_window [class="^float$"] floating enable
for_window [class="^float$"] resize set 90ppt 40ppt
for_window [class="^float$"] move position 0ppt 60ppt

for_window [class="^float_full$"] floating enable
for_window [class="^float_full$"] resize set 90ppt 90ppt
for_window [class="^float_full$"] move position 0ppt 0ppt

for_window [class="^Blueberry.py$"] floating enable 
for_window [class="^Blueberry.py$"] resize set 96ppt 96ppt
for_window [class="^Blueberry.py$"] move position 2ppt 2ppt

for_window [title="^zoom"] floating enable
for_window [title="^zoom"] resize set 95ppt 95ppt
for_window [title="^zoom"] move position 1ppt 1ppt
for_window [title="^Zoom - Free Account$"] floating enable
for_window [title="^Zoom - Free Account$"] resize set 95ppt 95ppt
for_window [title="^Zoom - Free Account$"] move position 1ppt 1ppt
for_window [class="^pony$"] floating enable 
for_window [class="^pony$"] resize set 96ppt 96ppt
for_window [class="^pony$"] move position 2ppt 2ppt

for_window [class="^pomo$"] floating enable
for_window [class="^pomo$"] resize set 99ppt 99ppt
for_window [class="^pomo$"] move position 0ppt 0ppt

for_window [con_mark="cal"] floating enable
for_window [con_mark="cal"] resize set 99ppt 99ppt
for_window [con_mark="cal"] move position 0ppt 1ppt

## oo ###############################################

for_window [class="^oa$"] floating enable
for_window [class="^oa$"] resize set 99ppt 99ppt
for_window [class="^oa$"] move position 0ppt 0ppt

for_window [class="^vmj$"] floating enable
for_window [class="^vmj$"] resize set 99ppt 99ppt
for_window [class="^vmj$"] move position 0ppt 0ppt

for_window [class="^twf6$"] floating enable
for_window [class="^twf6$"] resize set 99ppt 99ppt
for_window [class="^twf6$"] move position 0ppt 0ppt

for_window [class="^twf9$"] floating enable
for_window [class="^twf9$"] resize set 100ppt 100ppt
for_window [class="^twf9$"] resize grow right 1px
for_window [class="^twf9$"] move position 0 0

for_window [class="^ooa$"] floating enable
for_window [class="^ooa$"] resize set 100ppt 100ppt
for_window [class="^ooa$"] move position 0ppt 0ppt

for_window [class="^oo$"] floating enable
for_window [class="^oo$"] resize set 100ppt 100ppt
for_window [class="^oo$"] move position 0ppt 0ppt

for_window [class="^stf-tw4$"] floating enable
for_window [class="^stf-tw4$"] resize set 98ppt 98ppt
for_window [class="^stf-tw4$"] move position 1ppt 1ppt

for_window [class="^stf-tw2$"] floating enable
for_window [class="^stf-tw2$"] resize set 98ppt 98ppt
for_window [class="^stf-tw2$"] move position 1ppt 1ppt

for_window [class="^tw3$"] floating enable 
for_window [class="^tw3$"] resize set 98ppt 96ppt
for_window [class="^tw3$"] move position 1ppt 2ppt

##################################################

for_window [class="^stf-buku1$"] floating enable
for_window [class="^stf-buku1$"] resize set 99ppt 99ppt
for_window [class="^stf-buku1$"] move position 0ppt 0ppt

for_window [class="^nnn1$"] floating enable 
for_window [class="^nnn1$"] resize set 15ppt 50ppt
for_window [class="^nnn1$"] move position 0ppt 50ppt

for_window [class="^nnn2$"] floating enable 
for_window [class="^nnn2$"] resize set 15ppt 50ppt
for_window [class="^nnn2$"] move position 0ppt 45ppt

for_window [class="^nnn3$"] floating enable 
for_window [class="^nnn3$"] resize set 15ppt 99ppt
for_window [class="^nnn3$"] move position 85ppt 1ppt

for_window [class="^nnn4$"] floating enable 
for_window [class="^nnn4$"] resize set 99ppt 99ppt
for_window [class="^nnn4$"] move position 0ppt 0ppt


for_window [class="^drdf$"] floating enable 
for_window [class="^drdf$"] resize set 98ppt 98ppt
for_window [class="^drdf$"] move position 1ppt 1ppt

for_window [class="^stf$"] floating enable 
for_window [class="^stf$"] resize set 98ppt 98ppt
for_window [class="^stf$"] move position 1ppt 1ppt

for_window [class="^st-manf2$"] floating enable 
for_window [class="^st-manf2$"] resize set 96ppt 96ppt
for_window [class="^st-manf2$"] move position 2ppt 2ppt

for_window [class="^stf-dropdown$"] floating enable 
for_window [class="^stf-dropdown$"] move position 52ppt 1ppt
for_window [class="^stf-dropdown$"] resize set 49ppt 99ppt

for_window [class="^stf-dropdown1$"] floating enable 
for_window [class="^stf-dropdown1$"] move position 1ppt 0ppt
for_window [class="^stf-dropdown1$"] resize set 48ppt 100ppt

for_window [class="^stf-dropdown2$"] floating enable 
for_window [class="^stf-dropdown2$"] move position 51ppt 1ppt
for_window [class="^stf-dropdown2$"] resize set 49ppt 99ppt

for_window [con_mark="c"] floating enable
for_window [con_mark="c"] resize set 98ppt 98ppt
for_window [con_mark="c"] move position 1ppt 1ppt


# nvim ################################################

for_window [class="^n0$"] floating enable
for_window [class="^n0$"] resize set 50ppt 98ppt 
for_window [class="^n0$"] move position 1ppt 1ppt

for_window [class="^n1$"] floating enable
for_window [class="^n1$"] resize set 99ppt 50ppt 
for_window [class="^n1$"] move position 0ppt 50ppt

for_window [class="^n2$"] floating enable
for_window [class="^n2$"] resize set 50ppt 98ppt 
for_window [class="^n2$"] move position 50ppt 1ppt

for_window [class="^n3$"] floating enable
for_window [class="^n3$"] resize set 99ppt 99ppt
for_window [class="^n3$"] move position 0ppt 1ppt

for_window [class="^n4$"] floating enable
for_window [class="^n4$"] resize set 99ppt 99ppt
for_window [class="^n4$"] move position 1ppt 0ppt

# qb #################################################

for_window [class="^qutebrowser$" con_mark="cal"] floating enable
for_window [class="^qutebrowser$" con_mark="cal"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="cal"] move position 0ppt 1ppt

for_window [class="^qutebrowser$" con_mark="a"] floating enable
for_window [class="^qutebrowser$" con_mark="a"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="a"] move position 0ppt 0ppt

for_window [class="^qutebrowser$" con_mark="b"] floating enable
for_window [class="^qutebrowser$" con_mark="b"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="b"] move position 0ppt 1ppt

for_window [class="^qutebrowser$" con_mark="d"] floating enable
for_window [class="^qutebrowser$" con_mark="d"] resize set 99ppt 99ppt
for_window [class="^qutebrowser$" con_mark="d"] move position 1ppt 1ppt

for_window [class="^qutebrowser$" con_mark="cm"] floating enable
for_window [class="^qutebrowser$" con_mark="cm"] resize set 98ppt 98ppt
for_window [class="^qutebrowser$" con_mark="cm"] move position 1ppt 1ppt

for_window [class="^qutebrowser$" con_mark="qwin"] floating enable
for_window [class="^qutebrowser$" con_mark="qwin"] resize set 90ppt 90ppt
for_window [class="^qutebrowser$" con_mark="qwin"] move position 5ppt 5ppt
for_window [class="^qutebrowser$" con_mark="xx"] floating enable
for_window [class="^qutebrowser$" con_mark="xx"] resize set 90ppt 90ppt
for_window [class="^qutebrowser$" con_mark="xx"] move position 5ppt 5ppt

########################################################

for_window [class="^filepicker$"] floating enable
for_window [class="^filepicker$"] resize set 80ppt 80ppt
for_window [class="^filepicker$"] move position 10ppt 10ppt

