# picking space

/* all  ################################ */

root: {
    --htmlbk:                #000000;
    --htmlbk2:               #000000;
    --canvasbk:              #000000;
    --canvasbk2:             #000000;
    --canvasbk3:             #000000;
    --cardsbk:               #000000;
    --cardsbk2:              #000000;
    --cardsbk3:              #000000;
    --canvasbkf7:            #000000;
    --cardshvbk:             #000000;
    --btnbk:                 #000000;
    --btnbk2:                #000000;
    --btnbk3:                #000000;
    --btnbk4:                #000000;
    --btnbk5:                #000000;
    --btnbk6:                #000000;
    --btnbk7:                #000000;
    --btnbk8:                #000000;
    --background-color:      #000000;
    /*background-color:        #000000 !important;  */
    /*background:              #000000 !important; */
}

root:   {
    --brdcol:                #545250;
    --secbrdcol:             #484644;
    --secbrdcol2:            #484644;
    --secbrdcolee:           #3b3a39;
    --secbrdcole1:           #3b3a39;
    --secbrdcole5:           #3b3a39;
}

#b_header, #b_content,
html, body, article, section, canvas,
input,
blockquote {
     background-color: #000000 !important; 
     /*background:       #000000 !important; */
}
/* a, p, was blacking out some text area's */

*, body {
     border-color:     #000000 !important;
}

/* chat.openai.com ####################### */

.dark { 
     --sidebar-surface-primary: #000000 !important;
     --main-surface-primary:    #000000 !important;
}

/* redditt ############################### */

root: {
     background-color: #000000 !important;
}

/* bing ################################## */


#b_header #id_h, #b_footer, #b_header  .b_logoArea { 
     visibility: hidden; }

#b_results>li {
     background-color: #000000 !important; 
     background:       #000000 !important;
}

* {
    --cib-color-background-surface-solid-primary:    #000000; !important;
    --cib-color-background-surface-app-primary:      #000000; !important;
    --cib-color-background-surface-app-secondary:    #000000; !important;
    --cib-color-background-surface-app-tertiary:     #000000; !important;
    --cib-color-background-surface-app-quaternary:   #000000; !important;
    --cib-color-background-surface-card-primary:     #000000; !important;
    --cib-color-background-surface-card-secondary:   #000000; !important;
    --cib-color-background-surface-card-tertiary:    #000000; !important;
    --cib-color-background-surface-card-disabled:    #000000; !important;
    --cib-color-background-surface-smoke-primary:    #000000; !important;
    --cib-color-background-surface-solid-base:       #000000; !important;
    --cib-color-background-surface-solid-primary:    #000000; !important;
    --cib-color-background-surface-solid-secondary:  #000000; !important;
    --cib-color-background-surface-solid-tertiary:   #000000; !important;
    --cib-color-background-surface-solid-quaternary: #000000; !important;
    --cib-color-background-serp-primary:             #000000; !important;
    --cib-color-background-serp-neutral:             #000000; !important;
}

/* yt #################################### */
/*#scrim.tp-yt-app-drawer  */

root:, html[dark], [dark], html, ytd-app, canvas, ytd-mini-guide-renderer {
     background-color: #000000 !important; 
     /*background:       #000000 !important; */
}
* {
    --ytd-searchbox-background:                               #000000; !important;
    --yt-spec-base-background:                                #000000; !important;
    --yt-spec-raised-background:                              #000000; !important;
    --yt-spec-menu-background:                                #000000; !important;
    --yt-spec-additive-background:                            #000000; !important;
    --yt-live-chat-action-panel-background-color-transparent: #000000; !important;
    --yt-live-chat-secondary-background-color:                #000000; !important;
    --yt-live-chat-toast-background-color:                    #000000; !important;
    --yt-live-chat-mode-change-background-color:              #000000; !important;
    --app-drawer-scrim-background:                            #000000; !important;
    --yt-spec-inverted-background:                            #000000; !important;
    --yt-spec-static-white-background:                        #000000; !important;
    --yt-spec-static-overlay-additive-background:             #000000; !important;
    --yt-spec-static-overlay-background-solid:                #000000; !important;
    --yt-spec-static-overlay-background-heavy:                #000000; !important;
    --yt-spec-static-overlay-background-medium:               #000000; !important;
    --yt-spec-static-overlay-background-medium-light:         #000000; !important;
    --yt-spec-static-overlay-background-light:                #000000; !important;
    --yt-spec-general-background-a:                           #000000; !important;
    --yt-spec-general-background-b:                           #000000; !important;
    --yt-spec-general-background-c:                           #000000; !important;
}


/* google ############################# */

#gb, .RNNXgb, .c93Gbe {
     background-color: #000000 !important; 
     background:       #000000 !important;
}

.YB4h9 {
     background-color: #111111 !important; 
     background:       #111111 !important;
}


/* arch linuux ######################### */

#archnavbar, .anb-packages {
     background-color: #000000 !important; 
     background:       #000000 !important;
}

/* github ############################## */

/*textarea, - applying a background style to this on gh would paint over the text witin the code block

