:root {
    --nothing-black: #000000;
    --nothing-white: white;

    /* https://github.com/bezmi/base16-tridactyl/tree/master */
    /*--tridactyl-fg: white !important; */
    --tridactyl-fg:               var(--nothing-white);
    --tridactyl-bg:               var(--nothing-black);

    --tridactyl-header-first-bg:  var(--nothing-black);
    --tridactyl-header-second-bg: var(--nothing-black);
    --tridactyl-header-third-bg:  var(--nothing-black);
    --tridactyl-header-border-bottom: 0;
    --tridactyl-header-border-top: 0;

    --tridactyl-cmdl-bg:          var(--nothing-black);
    --tridactyl-cmdl-fg:          var(--nothing-white);

    border-top: unset;
}

#cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

#command-line-holder {
    order: 1;
    border: 0px solid var(--nothing-black);
    color: var(--nothing-black);
}
