:root {
    --nothing-black: #000000;
    --nothing-white: white;
    --nothing-off-white: #899CA1;

    /* https://github.com/bezmi/base16-tridactyl/tree/master */
    /*--tridactyl-fg: white !important; */
    --tridactyl-fg:               var(--nothing-off-white);
    --tridactyl-bg:               var(--nothing-black);

    --tridactyl-header-fg:        var(--nothing-black);
    --tridactyl-header-first-bg:  var(--nothing-black);
    --tridactyl-header-second-bg: var(--nothing-black);
    --tridactyl-header-third-bg:  var(--nothing-black);
    --tridactyl-header-border-bottom: 0;
    --tridactyl-header-border-top: 0;

    /* Mode indicator */
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size:   var(--nothing-font-size);
    --tridactyl-status-bg:          var(--nothing-black);
    --tridactyl-status-fg:          var(--nothing-off-white);
    --tridactyl-status-border:      1px var(--nothing-black) solid;
    --tridactyl-status-border-radius: 2px;

    --tridactyl-highlight-box-bg: var(--nothing-black);

    --tridactyl-cmdl-bg:          var(--nothing-black);
    --tridactyl-cmdl-fg:          var(--nothing-white);
}

:root #cmdline_iframe {
    filter: drop-shadow(0px 0px 20px #000000) !important;
    color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
}

