/* #nav-bar { display: none } */
/*  #main-window {
	max-width:1920px !important;
	max-height:1200px !important;
}
/*
#TabsToolbar{ 
   display: none
}
#nav-bar { 
   height:0.5px!important;
}

*/
/*
#nav-bar { 
   visibility: collapse 
}
The above nav bar collapse causes my extension buttons to break.. Or not show any pop up window on clicking
*/
